* {
    margin: 0;
    font-family: 'Work Sans';
}

.btn-css {
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #005FAC;
    width: 160px;
    height: 64px;
    border: 0;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    transition-duration: 0.4s;
}

.btn-css:hover {
    background-color: #FFF4D6;
    color: black;
    border: 1px;
}

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 314px;
    padding-bottom: 232px;

}

.header {
    text-align: right;
    margin-right: 230px;
}

.header h1 {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

/* body */

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-img {
    width: 569px;
    height: 723.3px;
    margin-left: 350px;
    margin-top: 131px;
}

.pro-info {
    margin-right: 422px;
    margin-top: 370px;
}

.pro-info h1 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.pro-info-p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.sign-img {
    width: 16px;
    height: 11px;
    margin-right: 10px;

}

.sign {
    list-style: none;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
}

/* My Goal */

.my-goal {

    margin-top: 80px;
}

.my-goal-tx {
    margin-bottom: 100px;
    text-align: center;
}

.my-goal-tx-para {
    margin-top: 40px;
}

.box-con {
    display: flex;
    justify-content: space-between;
    padding: 0px 400px;
    gap: 18px;
}

.box-1 {
    background: rgba(79, 157, 166, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
}

.box-2 {
    background: rgba(255, 89, 89, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
}

.box-3 {
    background: #FFF4D6;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
}

.box-icon {
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
}

.box-title {
    margin-bottom: 15px;
}

/* MY plan */
.my-plan {
    text-align: center;
    margin-bottom: 130px;

}

.my-plan-h1 {
    margin-top: 129px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.plan-icon {
    display: flex;
    justify-content: center;
    gap: 86px;
    margin-right: 1%;
}

.plan-info h1 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}

.plan-info h3 {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* gradient */

.gri-text {
    background-image: linear-gradient(to right, #f15d22ea, #f15d2200),
        url('../images/watch.png');
    background-size: cover;
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 59px;
    padding-bottom: 59px;
    margin-bottom: 130px;
    border-radius: 8px;
    padding: 59px 64px;
}

.gri-text h1 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* footer */
.footer {
    background: #151414;
    bottom: 130px;
}

.future h1 {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.future p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.future a {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
    text-decoration: none;
}

.future-email {
    margin-top: 24px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    padding: 130px 229px 130px 230px;
}

.footer-icon {
    display: flex;
    margin-top: 20px;
}

.footer-icon img {
    margin-right: 17px;
}

.subscribe p {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}


.email {
    background-color: #000000;
    color: #D9D9D9;
    border: 1px solid white;
    transition-duration: 0.4s;
    width: 325px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
}

.sub-btn {
    height: 64px;
    background: #005FAC;
    border-radius: 5px;
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    margin-top: 16px;
    transition-duration: 0.4s;
}

.sub-btn:hover {
    background-color: #FFF4D6;
    color: black;
    border: 1px;
}